/*SETTINGS*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

    background-image: url("../images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER SETTINGS*/

header nav {
    height: 70px;
}

header nav ul {
    margin: 0 52px;
    padding: 10px;
}

header nav ul#menu li a {
    color: #ffffff;
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 30px;
}

/*HERO SETTINGS*/

.title {
    color: #F8F8F8;
    font-family: Artisual Deco DEMO;
    font-size: 5rem;
    text-transform: uppercase;
}

.subTitle {
    color: #F8F8F8;
    font-family: Artisual Deco DEMO;
    font-size: 1.2rem;
    text-transform: uppercase;
}

div.brownSide p {
    color: #F8F8F8;
    width: 325px;
}

.buttonYellowTitle {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FCBC40;
    border: none;
    border-radius: 5px;
    padding: 20px 45px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

.buttonYellowTitle a {
    color: #402C11;
}

.buttonTransparentTitle {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffffff00;
    border-color: #F8F8F8;
    border-style: solid;
    border-radius: 5px;
    padding: 20px 45px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

.buttonTransparentTitle a {
    color: #F8F8F8;
}

.buttonYellowTitle,
.buttonTransparentTitle {
    width: 180px;
}

/*---TITLE SETTINGS*/

div#title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 250px;
    justify-items: center;
    grid-gap: 250px;
}

/*------BROWN SIDE*/

div#title div.brownSide {
    z-index: 1;
    margin-left: 70px;
}

/*------CHAIR SETTINGS*/

img.chairMenu {
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
}

/*------YELLOW SIDE*/

div#title div.yellowSide {
    z-index: 2;
    margin-right: 70px;
    margin-top: 20px;
}

/*FOOTER*/

footer {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

footer img {
    margin-left: 35px;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
    img.chairMenu {
        height: 500px;
        width: 500px;
        top: 90px;
    }

    .buttonYellowTitle,
    .buttonTransparentTitle {
        width: 140px;
        padding: 15px 25px;
    }
}

@media (max-width: 769px) {
    img.chairMenu {
        height: 480px;
        width: 480px;
        top: 100px;
    }

    div#title {
        grid-gap: 100px;
    }

    .title {
        font-size: 3.2rem;
    }
    
    .subTitle {
        font-size: 1rem;
    }
    
    div.brownSide p {
        width: 235px;
        font-size: 0.7rem;
    }

    .buttonYellowTitle,
    .buttonTransparentTitle {
        width: 115px;
        padding: 15px 15px;
    }
}

@media (max-width: 426px) {
    body {
        background-image: url("../images/Background425px.png");
    }

    /*HEADER*/

    header nav {
        height: 50px;
    }
    
    header nav ul {
        margin: 0 5px;
    }
    
    header nav ul#menu li a {
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    header nav ul li {
        margin-left: 20px;
    }

    /*TEXT*/

    img.chairMenu {
        height: 340px;
        width: 340px;
        top: 275px;
    }

    div#title {
        margin-top: 30px;
        grid-gap: 0px;
    }

    .title {
        font-size: 2.2rem;
    }
    
    .subTitle {
        font-size: 1rem;
    }
    
    div.brownSide p {
        width: 300px;
        font-size: 0.7rem;
    }

    .buttonYellowTitle,
    .buttonTransparentTitle {
        width: 115px;
        padding: 10px 10px;
        margin-left: 12px;
    }

    .buttonTransparentTitle {
        background-color: #402C11;
        border: none;
    }

    .buttonTransparentTitle a {
        color: #FCBC40;
    }

    div#title div.yellowSide {
        margin-left: -150px;
        margin-top: 17px;
    }
}

@media (max-width: 376px) {
    header nav ul#icons,
    img.chairMenu {
        display: none;
    }

    section#hero div#title {
        margin-top: 230px;
        margin-left: -25px;
    }
}

@media (max-width: 321px) {
    .title {
        font-size: 1.5rem;
    }
    
    .subTitle {
        font-size: 0.8rem;
    }
    
    div.brownSide p {
        width: 300px;
        font-size: 0.6rem;
    }

    .buttonYellowTitle,
    .buttonTransparentTitle {
        width: 115px;
        padding: 10px 10px;
        margin-left: 12px;
    }
    
    div#title div.yellowSide {
        margin-left: -215px;
        margin-top: 13.5px;
    }
}