/*SETTINGS*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER SETTINGS*/

header nav {
    height: 70px;
}

header nav ul {
    margin: 0 52px;
    padding: 10px;
}

header nav ul#menu li a {
    color: #ffffff;
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 30px;
}

/*HERO SETTINGS*/

section#hero {
    background-image: url("../images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    color: #F8F8F8;
    font-family: Artisual Deco DEMO;
    font-size: 5rem;
    text-transform: uppercase;
}

.subTitle {
    color: #F8F8F8;
    font-family: Artisual Deco DEMO;
    font-size: 1.2rem;
    text-transform: uppercase;
}

div.brownSide p {
    color: #F8F8F8;
    width: 325px;
}

.buttonYellowTitle {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FCBC40;
    border: none;
    border-radius: 5px;
    padding: 20px 45px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

.buttonYellowTitle a {
    color: #402C11;
}

.buttonTransparentTitle {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffffff00;
    border-color: #F8F8F8;
    border-style: solid;
    border-radius: 5px;
    padding: 20px 45px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}

.buttonTransparentTitle a {
    color: #F8F8F8;
}

/*---TITLE SETTINGS*/

div#title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 250px;
    justify-items: center;
    grid-gap: 250px;
}

/*------BROWN SIDE*/

div#title div.brownSide {
    z-index: 1;
    margin-left: 70px;
}

/*------CHAIR SETTINGS*/

img.chairMenu {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 30px;
    z-index: 0;
}

/*------YELLOW SIDE*/

div#title div.yellowSide {
    z-index: 2;
    margin-right: 70px;
}

div#title div.yellowSide div.flexMedia {
    display: flex;
    flex-direction: column;
}

div#title div.yellowSide div.flexMedia img {
    margin-bottom: 35px;
    margin-left: auto;
}

div#title div.yellowSide div.flexMedia img.instagram {
    height: 16.03px;
    width: 15.64px;
}

div#title div.yellowSide div.flexMedia img.twitter {
    height: 12.98px;
    width: 15.61px;
}

div#title div.yellowSide div.flexMedia img.facebook {
    height: 16.01px;
    width: 8.15px;
    margin-right: 4px;
}